/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

body{
  margin: 0px;
}

.btn-success{
  background-color: #198754;
  color: #fff;
}

.btn-danger{
  background-color: #dc3545;
  color: #fff;
}

.btn-warning{
  background-color: #ffcd39;
  color: #fff;
}
